<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="Helioid Blog, {{ page.title }}" />
{% for css in site.css %}<link rel="stylesheet" type="text/css" media="all" href="{{ css }}" />{% endfor %}
<title>Helioid Blog | {{ page.title }}</title>
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="icon" href="/assets/images/favicon.ico" />
<link rel="alternate" type="application/rss+xml" title="Helioid &raquo; Feed" href="http://blog.helioid.com/feed/" />
</head>
<body class="home blog">
<div id="page">
<div id="header" role="banner">
<div id="headerimg">
<h1><a href="/"><img src="/assets/images/logo-helioid-220x53.png"/></a></h1>
</div>
</div>
<hr />
<div id="content" class="narrowcolumn" role="main">{{ content }}</div>
<div id="sidebar" role="complementary">
    <ul>
        <li class="widget widget_links"><h2 class="widgettitle">Links</h2>
            <ul class='xoxo blogroll'>
                <li><a href="https://github.com/helioid/">Helioid Code</a></li>
                <li><a href="http://www.ioimmersive.org/" title="IoImmersive">IoImmersive</a></li>
            </ul>
    </ul>
    <div id="fb-root"></div><script
        src="http://connect.facebook.net/en_US/all.js#appId=213239695400314&amp;xfbml=1"></script>
    <fb:like href="https://www.facebook.com/pages/Helioid/197785080231787" send="true"
    layout="button_count" width="250" show_faces="false" font=""></fb:like>

    <h2>Tags</h2>
    {% for tag in site.tags %}
    <span style="font-size: {{ tag | last | size | times: 800 | divided_by: site.tags.size | plus: 80 }}%">
        <a href="/tags/{{ tag | first | slugize | replace:' ','-' }}/">{{ tag | first }}</a>
    </span>
    {% endfor %}
</div>
<hr />
<div id="footer" role="contentinfo">
    <p>&copy; {{ site.time | date: "%Y" }}, Helioid Inc. All Rights Reserved.</p>
</div>
</div>


<script type="text/javascript">var _gaq=_gaq||[];_gaq.push(['_setAccount', 'UA-7364068-2']);_gaq.push(['_trackPageview']);(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga, s);})();</script>
</body>
</html>
